<h1>Perfolio Items</h1>
<%= link_to "Create new portfolio", new_personalportfolio_url if logged_in?(:site_admin) %>
<% @angular_portfolios.each do |portfolio|%>
  <p><%= link_to portfolio.title, personalportfolio_show_path(portfolio) %></p>
  <p><%= portfolio.subtitle %></p>
  <p><%= portfolio.body %></p>
 <%= image_tag portfolio.thumb_image unless portfolio.thumb_image.nil? %>
 <p><%= link_to "Edit portfolio", edit_personalportfolio_path(portfolio) if logged_in?(:site_admin) %></p>
 <p><%= link_to "Delete portfolio", personalportfolio_path(portfolio), method: :delete, data: {confirm: "Are you sure you want to delete?"} if logged_in?(:site_admin) %></p>
<% end %>

